@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* @import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css"; */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body, html {
  font-family: "Nunito", 'Varela' !important;
}

.list-group-item.active {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
}

html {
  background-image: url('../src/img/background1.png');
}

body {
  background-color: transparent !important;
}

.center {
  text-align: center !important;
}

.divcenter {
  position: relative !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

input[type=text], input[type=password] {
  border: none;
  border-bottom: 1px solid #ced4da;
  color: black;
}

/* change the coor of the blue glow in inputs */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="select"]:focus,
input[type="checkbox"]:focus,
textarea:focus,
select:focus,
input[type="email"]:focus,
.form-control:focus {
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 153, 104, 0.6); */
  box-shadow: 0 1px 1px rgba(239, 153, 104, 0.6);
  outline: 0 none !important;
  border-bottom: 2px solid rgb(255, 94, 0);;
  color: black;
}

/* change default blue color for selection */
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(255, 94, 0);
}

::selection {
  color: rgb(255, 255, 255);
  /* background: #FFC107; */
  background: rgb(255, 94, 0);
}

#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: url('../src/img/background1.png');
}

/* Contact footer styles */

#contactFooter{
  height: 30em;
  background-color: transparent;
  text-align: center;
}

#paperPlaneIcon{
  margin-top: 10em;
}

.input-group-prepend img{
  width: 1.5em;
  height: 1em;
}

.inputs{
  margin: auto;
  max-width: 50em;
  min-width: 20em;
}

#buttonSubscribeForEmails{
  margin-left: 0.5em;
}

#rectangleRow{
  margin: auto;
  padding: 4em 0;
}

.rectangle{
  background-color: white;
  border-radius: 1em;
  border-right: 0.2em solid grey;
  border-bottom: 0.2em solid  grey;
  margin: 3em auto;
  padding: 2em;
  width: 15em;
  height: 13em;
}

.rectangleIcon{
  width: 8em;
  height: 5em;
  margin-top: 2em;
}

.rectangle hr{
  border : 2px solid black;
  width : 70%
}

.rectangle h5{
    margin: 0em;
}

#emailInput{
  border-color: #FFC107
}


/* End contact footer styles */

/* cards in homepage */
.card {
  box-shadow: 5px 5px 2px grey;
  width: 30%;
  height: 30%;
  background-color: #fafafa66;
  padding: 30px 0;
  border: 1px solid #e5e8eb;
  border-radius: .5rem;
  margin: 0 10px;
}

.cardText {
  margin: 0 !important;
  margin-inline-start: 0 !important;
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
}

/* nav bar */
.nav-link, .loginButton {
  color: black !important;
  font-family: 'Varela Round' !important;
  font-size: 18px !important;
  margin: 0 20px;
}

@media (max-width: 991px) {
  .navbar {
    background: white;
  }

  #modalSignIn {
    width: 100% !important;
  }
}

/* add a background color on scroll */
.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}

/* login modal */
.loginButton {
  background: linear-gradient(to right, #F3565E, #F97F3A, #FFAC11);
  border-color: linear-gradient(to right, #F3565E, #F97F3A, #FFAC11);
}

p>a {
  color: #FFAC11;
}

p>a:hover {
  color: #F97F3A;
  text-decoration: none;
}

/* register */
.registerect {
  width: 55em;
  height: 30em;
}

/* cards scroll in home page */
.scrolling-wrapper {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll_card {
  display: inline-block;
  /* min-width: fit-content; */
  margin: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.card_inside {
  margin: 0 auto; 
  display: inline; 
  margin: 20px;
}

@media (min-width: 1024px) {
  .scroll_card {
      margin-left: 70px;
      margin-right: 70px;
  }
}

#modalSignIn {
  margin-right: 1em !important;
  text-align: center;
  margin-top: 4em;
  width: 20%;
}

#authForm Button{
  width: 33%;
}

#authForm p{
  margin: 0;
}

.authInputs {
  margin-bottom: 0.5em;
  min-width: 5em;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

#modalSignOut {
  margin-right: 0em !important;
  margin-top: 3.5em;
  width: 10%;
  padding: 1em;
  min-width: 15em;
}

#modalSignOutItems div {
  margin-left: 0;
  padding-bottom: 1em;
}

#modalSignOutItems span {
  padding: 0.5em;
}

#modalSignOut button {
  margin: auto;
}

#modalSignOutItems div img{
  width: 3em;
  padding-right: 0.7em;
}

#buttonLogoutPlaceholder {
  text-align: center;
}

.btn-light:focus {
  color: #212529;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.btn-light:hover {
  color: #212529;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.jobSeeker, .vacancy {
  font-size: 1em;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(161, 156, 156, 0.5);

}

/* User Account */
.centerText {
  display: inline-block;
  margin-left: 20%;
}

.name {
  color: rgb(155,155,155);
}

.mainp {
  margin: 0 !important;
}

.span_date {
  float: right;
}

.buttonDivider{
  width:5px;
    height:auto;
    display:inline-block;
}

/* Company Account */
.jobTypeSpan {
  color: #FFAC11;
  font-size: 16px;
}

/* Account registration */
.registerCard {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  min-height: 200px;
}




